USE [master]
GO
/****** Object:  Database [Aqua_Safe]    Script Date: 06-12-2025 1:36:59 ******/
CREATE DATABASE [Aqua_Safe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aqua_Safe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Aqua_Safe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aqua_Safe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Aqua_Safe_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aqua_Safe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aqua_Safe]
GO
/****** Object:  Table [dbo].[dim_cliente]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_cliente](
	[id_cliente] [varchar](12) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[mail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_dispositivo]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_dispositivo](
	[id_dispositivo] [bigint] NOT NULL,
	[tipo] [varchar](50) NULL,
	[ubicacion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_empleado]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_empleado](
	[id_empleado] [varchar](12) NOT NULL,
	[nombre] [varchar](100) NULL,
	[cargo] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[contrato] [varchar](20) NULL,
	[fecha_ingreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[id_producto] [bigint] NOT NULL,
	[nombre] [varchar](100) NULL,
	[categoria] [varchar](50) NULL,
	[tipo_sensor] [varchar](50) NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_proyecto]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_proyecto](
	[id_proyecto] [bigint] NOT NULL,
	[nombre] [varchar](100) NULL,
	[estado] [varchar](20) NULL,
	[fecha_inicio] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_recurso]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_recurso](
	[id_recurso] [bigint] NOT NULL,
	[tipo] [varchar](50) NULL,
	[costo_unit] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[fecha] [date] NOT NULL,
	[año] [int] NULL,
	[mes] [int] NULL,
	[dia] [int] NULL,
	[nombre_mes] [varchar](20) NULL,
	[dia_semana] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechos_produccion]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechos_produccion](
	[id_produccion] [bigint] NOT NULL,
	[id_dispositivo] [bigint] NULL,
	[id_empleado] [varchar](12) NULL,
	[id_fabrica] [bigint] NULL,
	[fecha] [date] NULL,
	[unidades] [int] NULL,
	[costo_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechos_proyectos]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechos_proyectos](
	[id_proyecto] [bigint] NOT NULL,
	[id_recurso] [bigint] NOT NULL,
	[id_empleado] [varchar](12) NOT NULL,
	[fecha] [date] NOT NULL,
	[horas_trabajo] [bigint] NULL,
	[costo_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC,
	[id_recurso] ASC,
	[id_empleado] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechos_ventas]    Script Date: 06-12-2025 1:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechos_ventas](
	[id_venta] [bigint] NOT NULL,
	[id_cliente] [varchar](12) NULL,
	[id_empleado] [varchar](12) NULL,
	[id_producto] [bigint] NULL,
	[fecha] [date] NULL,
	[cantidad] [int] NULL,
	[total_venta] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dim_cliente] ([id_cliente], [nombre], [apellido], [telefono], [mail]) VALUES (N'22222100-9', N'Laura', N'Flores Vargas', N'+56990000100', N'laura.flores.100@mail.com')
INSERT [dbo].[dim_cliente] ([id_cliente], [nombre], [apellido], [telefono], [mail]) VALUES (N'22222101-9', N'Matías', N'Castro Soto', N'+56990000101', N'matías.castro.101@mail.com')
INSERT [dbo].[dim_cliente] ([id_cliente], [nombre], [apellido], [telefono], [mail]) VALUES (N'22222102-9', N'Camila', N'Cruz Silva', N'+56990000102', N'camila.cruz.102@mail.com')
GO
INSERT [dbo].[dim_empleado] ([id_empleado], [nombre], [cargo], [departamento], [contrato], [fecha_ingreso]) VALUES (N'11111100-K', N'Camila Soto Flores', N'Especialista Marketing', N'Marketing', N'Honorarios', CAST(N'2022-04-30' AS Date))
INSERT [dbo].[dim_empleado] ([id_empleado], [nombre], [cargo], [departamento], [contrato], [fecha_ingreso]) VALUES (N'11111101-K', N'Vicente Torres Maldonado', N'Analista Finanzas', N'Finanzas', N'Honorarios', CAST(N'2021-05-16' AS Date))
INSERT [dbo].[dim_empleado] ([id_empleado], [nombre], [cargo], [departamento], [contrato], [fecha_ingreso]) VALUES (N'11111102-K', N'Pedro López Rodríguez', N'Jefe Marketing', N'Marketing', N'Indefinido', CAST(N'2024-07-26' AS Date))
GO
INSERT [dbo].[dim_producto] ([id_producto], [nombre], [categoria], [tipo_sensor], [precio]) VALUES (1, N'Producto 1', N'Controlador', N'Salinidad', CAST(36691.00 AS Decimal(10, 2)))
INSERT [dbo].[dim_producto] ([id_producto], [nombre], [categoria], [tipo_sensor], [precio]) VALUES (2, N'Producto 2', N'Actuador', N'PH', CAST(82377.00 AS Decimal(10, 2)))
INSERT [dbo].[dim_producto] ([id_producto], [nombre], [categoria], [tipo_sensor], [precio]) VALUES (3, N'Producto 3', N'Actuador', N'PH', CAST(26828.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[dim_tiempo] ([fecha], [año], [mes], [dia], [nombre_mes], [dia_semana]) VALUES (CAST(N'2023-03-01' AS Date), 2023, 3, 1, N'March', N'Wednesday')
INSERT [dbo].[dim_tiempo] ([fecha], [año], [mes], [dia], [nombre_mes], [dia_semana]) VALUES (CAST(N'2023-03-02' AS Date), 2023, 3, 2, N'March', N'Thursday')
INSERT [dbo].[dim_tiempo] ([fecha], [año], [mes], [dia], [nombre_mes], [dia_semana]) VALUES (CAST(N'2023-03-03' AS Date), 2023, 3, 3, N'March', N'Friday')
GO
INSERT [dbo].[hechos_ventas] ([id_venta], [id_cliente], [id_empleado], [id_producto], [fecha], [cantidad], [total_venta]) VALUES (1, N'22222277-9', N'11111151-K', 17, CAST(N'2023-10-21' AS Date), 2, CAST(27565.70 AS Decimal(10, 2)))
INSERT [dbo].[hechos_ventas] ([id_venta], [id_cliente], [id_empleado], [id_producto], [fecha], [cantidad], [total_venta]) VALUES (2, N'22222310-9', N'11111125-K', 14, CAST(N'2025-09-30' AS Date), 5, CAST(40045.86 AS Decimal(10, 2)))
INSERT [dbo].[hechos_ventas] ([id_venta], [id_cliente], [id_empleado], [id_producto], [fecha], [cantidad], [total_venta]) VALUES (3, N'22222334-9', N'11111167-K', 49, CAST(N'2025-01-09' AS Date), 6, CAST(15869.28 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[hechos_produccion]  WITH CHECK ADD FOREIGN KEY([fecha])
REFERENCES [dbo].[dim_tiempo] ([fecha])
GO
ALTER TABLE [dbo].[hechos_produccion]  WITH CHECK ADD FOREIGN KEY([id_dispositivo])
REFERENCES [dbo].[dim_dispositivo] ([id_dispositivo])
GO
ALTER TABLE [dbo].[hechos_produccion]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[dim_empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[hechos_proyectos]  WITH CHECK ADD FOREIGN KEY([fecha])
REFERENCES [dbo].[dim_tiempo] ([fecha])
GO
ALTER TABLE [dbo].[hechos_proyectos]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[dim_empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[hechos_proyectos]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[dim_proyecto] ([id_proyecto])
GO
ALTER TABLE [dbo].[hechos_proyectos]  WITH CHECK ADD FOREIGN KEY([id_recurso])
REFERENCES [dbo].[dim_recurso] ([id_recurso])
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD FOREIGN KEY([fecha])
REFERENCES [dbo].[dim_tiempo] ([fecha])
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[dim_cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[dim_empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[dim_producto] ([id_producto])
GO
USE [master]
GO
